// [Colors]

// palette
$white: #FFFFFF;

$black: #000000;
$black-90: #1A1A1A;
$black-60: #666666;
$black-40: #999999;

$blue: #0E3053;
$blue-80: #3E5975;
$blue-70: #566E87;
$blue-50: #8697A9;
$blue-40: #9FACBA;
$blue-30: #B7C1CB;
$blue-20: #CFD6DD;
$blue-10: #E7EAEE;
$blue-03: #F8F9FA;

$mintgreen: #5DBFAC;
$mintgreen-90: #6DC5B4;
$mintgreen-20: #DFF2EE;

$lilac: #8C9CCD;
$lilac-90: #97A6D2;
$lilac-80: #A3B0D7;
$lilac-30: #DDE1F0;
$lilac-20: #E8EBF5;

$cyan: #2598C7;
$cyan-90: #3BA2CD;
$cyan-40: #A8D6E9;

$red: #D03C45;
$red-80: #D9636A;
$red-40: #ECB1B5;

$yellow: #FF9F07;

$green: #00A947;

// Containers
$container-desktop: 960px !default;
$container-widescreen: 1152px !default;
$container-fullhd: 1440px !default;

// Building units
$building-unit: 4px !default;
$building-unit-x2: $building-unit * 2; // 8px
$building-unit-x3: $building-unit * 3; // 12px
$building-unit-x4: $building-unit * 4; // 16px
$building-unit-x6: $building-unit * 6; // 24px
$building-unit-x8: $building-unit * 8; // 32px

// Radii
$border-radius-tiny: $building-unit; // 4px
$border-radius-small: $border-radius-tiny * 4; // 16px
$border-radius-regular: $border-radius-tiny * 6; // 24px
$border-radius-medium: $border-radius-tiny * 8; // 32 px
$border-radius-large: $border-radius-tiny * 12; // 48 px

$grid-margin: $building-unit * 2.5 !default; // 10px

// [Typography]
// colors
$text-primary-color: $black-90 !default;
$text-secondary-color: $black-60 !default;

// font-weights
$font-weight-thin: 100;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-ultra: 900;
