// $header-height: 100px;
// $footer-height: 80px;
 @import '../../../assets/styles/base/all';

.appContainer {
  //display: grid;
  //grid-template-columns: $sidebar-width auto;
  //grid-template-rows: $header-height auto $footer-height;
  display: flex;
  flex-direction: column;
  height: 100vh;
  // background-color: rgb(255, 255, 255);


  main {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;

    .main-content {
      width: 100%;
      height: 100%;
    }
  }
}
