$sidebar-width: 300px;
$header-height: 100px;
$footer-height: 80px;

.app-container {
  display: grid;
  grid-template-columns: $sidebar-width auto;
  grid-template-rows: $header-height auto $footer-height;


  .header-wrapper {
    grid-column: first / end;
    grid-row: row1-start / row1-end;
    background: mintcream;
  }

  .sidebar-wrapper {
    grid-column: 1 / span end;
    grid-row: row2-start / row2-end;
    background: red;
  }

  .footer-wrapper {
    grid-column: first / end;
    grid-row: 2 / span 2;
  }
}
