@import "../../../assets/styles/base/all";
@import "../../../assets/styles/responsive";
@import "../variables";

.searchItem {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px 4px;
  font-size: 0.9em;

  &:not(:last-child) {
    border-bottom: 1px solid $blue-10;
  }

  .metaInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 auto;

    .packageName {
      font-size: 18px;
      line-height: 28px;
      font-weight: $font-weight-bold;
    }

    .packageDescription {
      color: $blue-50;
    }
  }

  .owner {
    flex: 0 1 $package-owner-width;
    font-weight: $font-weight-medium;
    letter-spacing: .05em;

    .ownerTitle {
      display: inline;


      @media ($tablet-mq) {
        display: none;
      }
    }
  }

  .stars {
    color: $red-80;
    flex: 0 1 $package-stars-width;
    font-weight: $font-weight-bold;

    .starsTitle {
      display: inline;

      @media ($tablet-mq) {
        display: none;
      }
    }
  }

  @media ($tablet-mq) {
    flex-direction: row;

    .metaInfo {
      flex-basis: $package-meta-info-width;
    }
  }

  @media ($mobile-mq) {
    font-size: 1em;
  }
}
