@import "../../assets/styles/base/all";
@import "../../assets/styles/responsive";
@import "variables";

$input-search-width: 300px;
$search-filters-width: 140px;

.searchView {
  flex-grow: 1;
  align-items: center;
  padding: 0 10px;
  background-color: $blue-03;

  .searchControls {
    display: flex;
    align-items: center;
    width: 100%;
    padding: $building-unit-x8 0 $building-unit-x6 $building-unit-x6;

    .inputField {
      flex: 0 1 $input-search-width;
      margin-right: $building-unit-x8;
    }

    .searchFilterWrapper {
      flex: 0 1 $search-filters-width;
    }

    @media ($tablet-mq) {
      flex-direction: column;

      .inputField {
        margin: 0 0 $building-unit-x4 0;
        flex-basis: auto;
      }

      .searchFilterWrapper {
        flex-basis: auto;
        max-width: $search-filters-width;
      }
    }
  }

  .resultsWrapper {
    .resultsHeader {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      color: $blue-40;
      font-size: 18px;

      .packageName {
        flex: 0 0 $package-meta-info-width;

      }
      .packageOwner {
        flex: 0 1 $package-owner-width;
      }

      .packageStars {
        flex: 0 1 $package-stars-width;
      }

      @media ($tablet-mq) {
        display: none;
      }
    }
  }

  .paginationWrapper {
    padding-bottom: $building-unit-x4;
  }
}
