//media queries
//$mobile-mq: 'max-width: 767px';
//$tablet-mq: 'max-width: 1023px';
//$desktop-mq: 'max-width: 1215px';
//$wide-desktop-mq: 'max-width: 1499px';
//$large-desktop-mq: 'max-width: 1799px';
$mobile-mq: 'max-width: 520px';
$tablet-mq: 'max-width: 767px';
$tablet-hq: 'max-width: 992px';
$desktop-mq: 'max-width: 1215px';
$wide-desktop-mq: 'max-width: 1499px';
